<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.gov.dft.bluebadge.service.badgemanagement.repository.mapper.BatchMapper">

    <insert id="createBatch" parameterType="BatchEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="batch_id">
        INSERT INTO badgemanagement.batch (batch_filename, batch_created_timestamp, batch_source, batch_purpose)
        VALUES (#{filename}, #{created}, #{source}, #{purpose})
    </insert>

    <insert id="appendBadges" parameterType="AppendBadgesToBatchParams">
        INSERT INTO badgemanagement.batch_badge (batch_id, badge_no)
        SELECT #{batchId}, badge_no FROM badge WHERE badge_status = 'ORDERED'
        <choose>
            <when test="batchType == 'LA'">
                AND deliver_option_code LIKE 'STAND'
                AND deliver_to_code LIKE 'COUNCIL'
            </when>
            <when test="batchType == 'STANDARD'">
                AND deliver_option_code LIKE 'STAND'
                AND deliver_to_code LIKE 'HOME'
            </when>
            <when test="batchType == 'FASTTRACK'">
                AND deliver_option_code LIKE 'FAST'
                AND deliver_to_code LIKE 'HOME'
            </when>
        </choose>

    </insert>

</mapper>
